<h1>Resource Collect</h1>

<div *ngIf="!isAuthenticated()">
    <p>Login</p>
</div>

<firebase-auth-ui [disableAutoSignIn]="true" [uiConfig]="getUIConfig()"></firebase-auth-ui>

<todo-list *ngIf="isAuthenticated()"></todo-list>
